.App {
  text-align: center;
  background-color: rgb(51, 50, 50);
}
body{
  padding-top: 30px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
  background: rgb(255, 255, 255);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: 'Nixie One';
}
.linksstyling {
  text-decoration: none;
  font-family: 'Nixie One';
  font-size: 30px;
  color: black;
}
.name{
  font-family: 'Nixie One';
  font-size: 30px;
  position: relative;
  background-color: lightgray;
  width: 16.5em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
}

.myImage{
  width: 500px;
  height: 650px;
  position: relative;
  bottom: 100px;
}

.yeet{
  font-size: 30px;
}

.project-links{

}

.resume-link{

}

.project-github-link{

}

.dnd-gifOne{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.dnd-gifTwo{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.Dnd{
  background: lightcoral;
}

.hello {  
  color: whitesmoke;  
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;transform: translateY(-50%);
  font-family: 'Nixie One';
  position: relative;
  top: 250px;
  left: 300px;
  width: 16em;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
}


.typewriter {
  animation: typewriter 2s steps(40) 1s 1 normal both,
  blinkTextCursor 600ms steps(40) infinite normal;
  animation-duration: 250ms;
}

@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 2.5em;
  }
}


@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}

