.App {
  text-align: center;
  background-color: lightcoral;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(255, 255, 255);
  color: white;
}

.nav-links{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.myImage{
  width: 500px;
  height: 650px;
}

.yeet{
  font-size: 30px;
}

.project-links{

}

.resume-link{

}

.project-github-link{

}

.dnd-gifOne{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.dnd-gifTwo{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.Dnd{
  background: lightcoral;
}